export http_proxy=socks5://127.0.0.1:1086;
# export http_proxy=http://127.0.0.1:1087;

export https_proxy=$http_proxy;
export ftp_proxy=$http_proxy;
export rsync_proxy=$http_proxy;
export no_proxy="localhost,127.0.0.1,192.168.1.*,192.168.31.*,localaddress,.localdomain.com";
